[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;

Name=As ZIP/TAR Archive
Name[ar]=كأرشيف  ZIP/TAR
Name[ast]=Como archivu comprimíu ZIP/TAR
Name[bs]=kao ZIP+tar arhivu
Name[ca]=Com a arxiu ZIP/TAR
Name[ca@valencia]=Com a arxiu ZIP/TAR
Name[cs]=Jako archiv ZIP/TAR
Name[da]=Som ZIP-/TAR-arkiv
Name[de]=Als ZIP/TAR-Archiv
Name[el]=Ως αρχειοθήκη ZIP/TAR
Name[en_GB]=As ZIP/TAR Archive
Name[es]=Como archivo comprimido ZIP/TAR
Name[et]=ZIP/TAR-arhiivina
Name[eu]=ZIP/TAR artxibo gisa
Name[fi]=Zip/Tar-paketiksi
Name[fr]=En tant qu'archive ZIP/TAR
Name[ga]=Mar Chartlann ZIP/TAR
Name[gl]=Como arquivo ZIP/TAR
Name[hr]=Kao ZIP/TAR-arhiva
Name[hu]=ZIP/TAR archívumként
Name[ia]=Como archivo ZIP/TAR
Name[id]=Sebagai Arsip ZIP/TAR
Name[it]=Come archivio ZIP/TAR
Name[ja]=ZIP/TAR アーカイブに
Name[kk]=ZIP/TAR архиві қылып
Name[km]=ជា​ប័ណ្ណសារ ZIP/TAR
Name[ko]=ZIP/TAR 파일로
Name[lt]=ZIP/TAR archyvas
Name[lv]=Kā ZIP/TAR arhīvu
Name[nb]=Som ZIP/TAR-arkiv
Name[nds]=As Zip/Tar-Archiev
Name[nl]=Als ZIP/TAR-archief
Name[nn]=Som ZIP/TAR-arkiv
Name[pa]=ਜ਼ਿੱਪ/RAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum ZIP/TAR
Name[pt]=Como Pacote ZIP/TAR
Name[pt_BR]=Como arquivo ZIP/TAR
Name[ro]=Ca arhivă ZIP/TAR
Name[ru]=Как архив ZIP/TAR
Name[sk]=Do ZIP/TAR archívu
Name[sl]=Kot arhiv ZIP/TAR
Name[sq]=Si Arkiv ZIP/TAR
Name[sr]=као ЗИП+тар архиву
Name[sr@ijekavian]=као ЗИП+тар архиву
Name[sr@ijekavianlatin]=kao ZIP+tar arhivu
Name[sr@latin]=kao ZIP+tar arhivu
Name[sv]=Som ZIP/TAR-arkiv
Name[th]=เป็นแฟ้มจัดเก็บบีบอัดแบบ ZIP/TAR
Name[tr]=ZIP/TAR Arşivi Olarak
Name[ug]=ZIP/TAR ئارخىپى
Name[uk]=Як архів ZIP/TAR
Name[wa]=Come årtchive ZIP/TAR
Name[x-test]=xxAs ZIP/TAR Archivexx
Name[zh_CN]=为 ZIP/TAR 归档
Name[zh_TW]=成 ZIP/TAR 壓縮檔
Icon=ark
Exec=ark --changetofirstpath --add --autofilename tar.gz %F
#Exec=tar czf %n.tar.gz  %f