[Desktop Entry]
Type=Service

MimeType=image/jpeg

Name=PNG image
Name[it]=Immagine PNG
Name[ar]=تحويل الى *.PNG
Icon=image-png
Exec=convert %f %n.png

