[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;

Name=As Tar/Gz Archive
Name[ar]=كأرشيف  Tar/Gz
Name[ast]=Como archivu comprimíu Tar/Gz
Name[bs]=kao ZIP+tar arhivu
Name[ca]=Com a arxiu Tar/Gz
Name[ca@valencia]=Com a arxiu Tar/Gz
Name[cs]=Jako archiv Tar/Gz
Name[da]=Som ZIP-/TAR-arkiv
Name[de]=Als Tar/Gz-Archiv
Name[el]=Ως αρχειοθήκη Tar/Gz
Name[en_GB]=As Tar/Gz Archive
Name[es]=Como archivo comprimido Tar/Gz
Name[et]=Tar/Gz-arhiivina
Name[eu]=Tar/Gz artxibo gisa
Name[fi]=Zip/Tar-paketiksi
Name[fr]=En tant qu'archive Tar/Gz
Name[ga]=Mar Chartlann Tar/Gz
Name[gl]=Como arquivo Tar/Gz
Name[hr]=Kao Tar/Gz-arhiva
Name[hu]=Tar/Gz archívumként
Name[ia]=Como archivo Tar/Gz
Name[id]=Sebagai Arsip Tar/Gz
Name[it]=Come archivio Tar/Gz
Name[ja]=Tar/Gz アーカイブに
Name[kk]=Tar/Gz архиві қылып
Name[km]=ជា​ប័ណ្ណសារ Tar/Gz
Name[ko]=Tar/Gz 파일로
Name[lt]=Tar/Gz archyvas
Name[lv]=Kā Tar/Gz arhīvu
Name[nb]=Som Tar/Gz-arkiv
Name[nds]=As Zip/Tar-Archiev
Name[nl]=Als Tar/Gz-archief
Name[nn]=Som Tar/Gz-arkiv
Name[pa]=ਜ਼ਿੱਪ/RAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum Tar/Gz
Name[pt]=Como Pacote Tar/Gz
Name[pt_BR]=Como arquivo Tar/Gz
Name[ro]=Ca arhivă Tar/Gz
Name[ru]=Как архив Tar/Gz
Name[sk]=Do Tar/Gz archívu
Name[sl]=Kot arhiv Tar/Gz
Name[sq]=Si Arkiv Tar/Gz
Name[sr]=као ЗИП+тар архиву
Name[sr@ijekavian]=као ЗИП+тар архиву
Name[sr@ijekavianlatin]=kao ZIP+tar arhivu
Name[sr@latin]=kao ZIP+tar arhivu
Name[sv]=Som Tar/Gz-arkiv
Name[th]=เป็นแฟ้มจัดเก็บบีบอัดแบบ Tar/Gz
Name[tr]=Tar/Gz Arşivi Olarak
Name[ug]=Tar/Gz ئارخىپى
Name[uk]=Як архів Tar/Gz
Name[wa]=Come årtchive Tar/Gz
Name[x-test]=xxAs Tar/Gz Archivexx
Name[zh_CN]=为 Tar/Gz 归档
Name[zh_TW]=成 Tar/Gz 壓縮檔
Icon=application-x-tar
#Exec=ark --changetofirstpath --add --autofilename tar.gz %F
Exec=tar cvzf %f.tar.gz  %n