[Desktop Entry]
Type=Service
ServiceTypes=elokabPopupMenu
MimeType=application/x-tar,application/x-compressed-tar,application/x-bzip-compressed-tar,application/x-tarz,application/x-xz-compressed-tar,application/x-lzma-compressed-tar,application/x-deb,application/x-cd-image,application/x-bcpio,application/x-cpio,application/x-cpio-compressed,application/x-sv4cpio,application/x-sv4crc,application/x-rpm,application/vnd.ms-cab-compressed,application/x-servicepack,application/x-rar,application/x-7z-compressed,application/x-java-archive,application/zip,application/x-compress,application/x-gzip,application/x-bzip,application/x-bzip2,application/x-lzma,application/x-xz,application/lha,application/x-lha,application/maclha,application/gzip

Name=Tar Extract Archive Here
Name[ar]=Tar فك الأرشيف هنا
Name[ast]=Estrayer archivu comprimíu equí
Name[bs]=Raspakuj arhivu ovde
Name[ca]=Extreu l'arxiu aquí
Name[ca@valencia]=Extreu l'arxiu ací
Name[cs]=Rozbalit archiv sem
Name[da]=Udpak arkiv her
Name[de]=Archiv hierher auspacken
Name[el]=Εξαγωγή αρχειοθήκης εδώ
Name[en_GB]=Extract Archive Here
Name[es]=Extraer archivo comprimido aquí
Name[et]=Paki arhiiv siia lahti
Name[eu]=Erauzi artxibua hemen
Name[fi]=Pura paketti tähän
Name[fr]=Extraire l'archive ici
Name[ga]=Bain an chartlann amach agus cuir é anseo
Name[gl]=Extraer o arquivo aquí
Name[hr]=Ovdje otpakiraj arhivu
Name[hu]=Kibontás ide
Name[ia]=Extrahe archivo hic
Name[id]=Ekstrak Arsip di Sini
Name[it]=Estrai l'archivio qui
Name[ja]=アーカイブをここに展開
Name[kk]=Архивті мынаған тарқату
Name[km]=ស្រង់ចេញ​ប័ណ្ណសារ​នៅ​ទីនេះ
Name[ko]=여기에 압축 풀기
Name[lt]=Čia išpakuoti archyvą
Name[lv]=Atspiest arhīvu šeit
Name[nb]=Pakk ut arkivet her
Name[nds]=Archiev hier utpacken
Name[nl]=Archief hier uitpakken
Name[nn]=Pakk ut arkivet her
Name[pa]=ਅਕਾਇਵ ਇੱਥੇ ਖੋਲ੍ਹੋ
Name[pl]=Rozpakuj tutaj archiwum
Name[pt]=Extrair o Pacote para Aqui
Name[pt_BR]=Extrair arquivo aqui
Name[ro]=Extrage arhiva aici
Name[ru]=Распаковать в эту папку
Name[sk]=Rozbaliť archív sem
Name[sl]=Razširi arhiv sem
Name[sq]=Ekstrakto Arkivin Këtu
Name[sr]=Распакуј архиву овде
Name[sr@ijekavian]=Распакуј архиву овдје
Name[sr@ijekavianlatin]=Raspakuj arhivu ovdje
Name[sr@latin]=Raspakuj arhivu ovde
Name[sv]=Packa upp arkiv här
Name[th]=คลายแฟ้มจัดเก็บไว้ที่นี่
Name[tr]=Arşivi Buraya Çıkart
Name[uk]=Видобути архів сюди
Name[wa]=Saetchî l' årtchive foû cial
Name[x-test]=xxExtract Archive Herexx
Name[zh_CN]=在此解压缩归档
Name[zh_TW]=在此解壓縮
Icon=application-x-tar
#Exec=ark --batch --autodestination %F
Exec=tar -xvf  %f